<h1><%= t('.title') %></h1>

<p>
  <%= flash[:notice] %>
</p>

<% @classrooms.each do |classroom| %>
  <h2><%= t('.sublevel') %> <%= classroom.sublevel%></h2>
  <table>
    <thead>
      <tr>
        <th><%= t('.level') %></th>
        <th><%= t('.student') %></th>
        <th><%= t('.teacher') %></th>
        <th><%= t('.subject') %></th>
        <th><%= t('.period') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= classroom.level%>
        </td>
        <td>
          <% classroom.students.each do |student| %>
            <p>
              <%= student.name %>
            </p>
          <% end %>
        </td>
        <td>
          <% classroom.teachers.each do |teacher| %>
            <p>
              <%= teacher.name %>
            </p>
          <% end %>
        </td>
        <td>
          <% classroom.teachers.each do |teacher| %>
            <% teacher.subjects.each do |subject| %>
              <p>
                <%= subject.name %>
              </p>
            <% end %>
          <% end %>
        </td>
        <td>
          <p>
            <%= classroom.period %>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <%= link_to "Delete", classroom_path(classroom), method: :delete, data: { confirm: "Are you sure?" } if current_user %>
<% end %>

<ul>
  <% if current_user %>
    <li><%= link_to t('.links.classroom'), new_classroom_path %></li>
    <li><%= link_to t('.links.student'), new_student_path %></li>
    <li><%= link_to t('.links.teacher'), new_teacher_path %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
    <li><%= link_to "Sign in", new_user_session_path %></li>
  <% end %>
</ul>
