<h1>Classrooms</h1>

<%= form_for @classroom do |f| %>
  Level: <%= f.text_field :level %>
  Sublevel: <%= f.select :sublevel, ("A".."Z").to_a %>
  <%= f.submit %>
<% end %>

<p>
<%= link_to "Home", root_path %>
</p>

