<h1><%= t('.title') %></h1>

<%= form_for @classroom do |f| %>
  <%= t('.level') %>: <%= f.select :level, t('.levels') %>
  <%= t('.sublevel') %>: <%= f.select :sublevel, ("A".."Z").to_a %>
  <%= t('.period') %>: <%= f.select :period, t('.periods') %>
  <%= f.submit %>
<% end %>

<p>
<%= link_to t('.home'), root_path %>
</p>

