<h1><%= t('.title') %></h1>

<%= form_for @classroom do |f| %>
  <%= f.label :level %>: <%= f.select :level, t('.levels') %>
  <%= f.label :sublevel %>: <%= f.select :sublevel, "A".."Z" %>
  <%= f.label :period %>: <%= f.select :period, t('.periods') %>
  <%= f.submit %>
<% end %>

<p>
<%= link_to t('.home'), root_path %>
</p>

