<h1><%= t('.title') %></h1>

<%= form_for @student do |f| %>
  <%= t('.name') %>: <%= f.text_field :name %>
  <%= t('.classroom') %>: <%= f.collection_select :classroom_id, @classrooms, :id, :level, prompt: true %>
  <%= t('.period') %>: <%= f.select :period, [t('.periods.day'), t('.periods.afternoon'), t('.periods.night')] %>
  <%= f.submit %>
<% end %>

<p>
<%= link_to "Home", root_path %>
</p>
