<h1><%= t('.title') %></h1>

<%= form_for @teacher do |f| %>
  <%= t('.name') %>: <%= f.text_field :name %>
  <%= t('.classroom') %>: <%= f.collection_select :classroom_id, @classrooms, :id, :level_with_sublevel, prompt: true %>
  <%= f.fields_for :subjects do |p| %>
    <%= t('.subject') %>: <%= p.select :name, t('.subjects') %>
  <% end %>
  <%= f.submit %>
<% end %>

<p>
<%= link_to t('.home'), root_path %>
</p>
